*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1320px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
@media (max-width: 1360px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

body {
  color: white;
}

.main1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main1__title {
  position: relative;
  z-index: 2;
  padding-top: 295px;
  margin-bottom: 8px;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 108.33%;
  text-transform: uppercase;
}

.main1__subtitle {
  position: relative;
  z-index: 2;
  margin-bottom: 48px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 127.27%;
  letter-spacing: 0.31em;
}

.main1__label__input {
  position: relative;
  z-index: 2;
  width: 40.43rem;
  height: 60px;
  padding: 20px 200px 20px 36px;
  margin-bottom: 211px;
  background-color: #FFFFFF;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 142.85%;
  letter-spacing: 0.2em;
  color: #999999;
}
@media (max-width: 576px) {
  .main1__label__input {
    max-width: 33.75rem;
  }
}

.main1__label {
  position: relative;
}

.main1__button {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 139px;
  height: 52px;
  background: #5373FD;
}

.main1__scroll {
  display: block;
  position: relative;
  z-index: 2;
  padding-bottom: 140px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 142.85%;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}
.main1__scroll::after {
  content: url(./img/chevron-down.svg);
  position: absolute;
  top: 20px;
  left: 46px;
}

.main1-photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.main2 {
  background: #5373FD;
}

.main2__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem 1.5rem;
}
@media (max-width: 768px) {
  .main2__navbar {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .main2__navbar {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .main2__navbar__navlogo {
    margin-bottom: 32px;
  }
}
@media (max-width: 576px) {
  .main2__navbar__navlogo {
    margin-left: 165px;
    margin-top: 30px;
  }
}

.main2__hamburger {
  display: none;
}

.main2__hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.main2__navbar__navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navmenu__navItem:not(:first-child) {
  margin: 0rem 0rem 0rem 2.5rem;
}
@media only screen and (max-width: 576px) {
  .navmenu__navItem:not(:first-child) {
    margin: 0rem 0rem 3rem 0rem;
  }
}

.navmenu__navLink {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media only screen and (max-width: 576px) {
  .main2__navbar__navmenu {
    position: fixed;
    z-index: 3;
    left: -100%;
    top: 922px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 15px;
    transition: 0.3s;
    background: #5373FD;
  }
  .main2__navbar__navmenu.active {
    left: 0;
  }
  .navmenu__navItem {
    margin: 2.5rem 0;
  }
  .main2__hamburger {
    display: block;
    cursor: pointer;
  }
}
.main2__hamburger.active .main2__hamburger__bar:nth-child(2) {
  opacity: 0;
}

.main2__hamburger.active .main2__hamburger__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.main2__hamburger.active .main2__hamburger__bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.main3 {
  position: relative;
  height: 704px;
  z-index: 2;
}

.main3__container {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .main3__container {
    flex-direction: column-reverse;
  }
}

.main3__about {
  width: 648px;
}
@media only screen and (max-width: 768px) {
  .main3__about {
    text-align: center;
    width: 45rem;
  }
}

.main3__title {
  position: relative;
  z-index: 2;
  margin-top: 190px;
  margin-bottom: 24px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .main3__title {
    margin-top: 32px;
  }
}

.main3__text p {
  position: relative;
  z-index: 2;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.main3__text--p {
  margin-bottom: 52px;
}

.main3__button {
  position: relative;
  z-index: 2;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 213px;
  height: 60px;
  background: #5373FD;
}
.main3__button___a {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .main3__button {
    margin-top: 32px;
    display: inline-block;
  }
}

.main3-photo {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.main3__img {
  margin-top: 124px;
  margin-left: 136px;
  display: flex;
  flex-direction: column;
  flex: 0 0 26.5rem;
}
@media only screen and (max-width: 768px) {
  .main3__img {
    flex-direction: row;
    height: 219px;
    margin-left: 20px;
    margin-top: 60px;
    margin-right: 20px;
    flex: 1 1 auto;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .main3__img {
    flex-direction: row;
    height: 162px;
    margin-left: 5px;
    margin-top: 60px;
    margin-right: 5px;
    flex: 1 1 auto;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}

.main3__img-photo1, .main3__img-photo2 {
  position: relative;
  z-index: 2;
}

.main3__img-photo1 {
  align-self: flex-start;
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  .main3__img-photo1 {
    width: 21.75rem;
  }
}
@media only screen and (max-width: 576px) {
  .main3__img-photo1 {
    width: 16.125rem;
  }
}

.main3__img-photo2 {
  align-self: flex-end;
}
@media only screen and (max-width: 768px) {
  .main3__img-photo2 {
    width: 21.75rem;
  }
}
@media only screen and (max-width: 576px) {
  .main3__img-photo2 {
    width: 16.125rem;
  }
}

.main4 {
  background: #333333;
}

.main4__steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .main4__steps {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main4__icon {
  position: relative;
  padding-left: 103px;
  padding-right: 100px;
  margin-top: 207px;
  margin-bottom: 60px;
  margin-right: 1.5rem;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .main4__icon {
    margin-top: 80px;
    margin-right: 0px;
  }
}

.main4__icon--a::before {
  content: url(./img/IconCircle.svg);
  position: absolute;
  top: -90px;
  left: 155px;
}

.main4__icon--a::after {
  content: url(./img/Line.svg);
  position: absolute;
  top: -185px;
  left: 205px;
}
@media only screen and (max-width: 768px) {
  .main4__icon--a::after {
    content: "";
  }
}

.main4__icon--b::before {
  content: url(./img/IconCircle_2.svg);
  position: absolute;
  top: -90px;
  left: 155px;
}

.main4__icon--c::before {
  content: url(./img/IconCircle_3.svg);
  position: absolute;
  top: -90px;
  left: 155px;
}/*# sourceMappingURL=style.css.map */