*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: 68.75%;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
@media (max-width: 1360px) {
  .container {
    max-width: 59.375%;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 50%;
  }
}

body {
  color: white;
}

.main1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main1__title {
  position: relative;
  z-index: 2;
  padding-top: 295px;
  margin-bottom: 8px;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 108.33%;
  text-transform: uppercase;
}

.main1__subtitle {
  position: relative;
  z-index: 2;
  margin-bottom: 48px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 127.27%;
  letter-spacing: 0.31em;
}

.main1__label__input {
  position: relative;
  z-index: 2;
  width: 40.43rem;
  height: 60px;
  padding: 20px 200px 20px 36px;
  margin-bottom: 211px;
  background-color: #FFFFFF;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 142.85%;
  letter-spacing: 0.2em;
  color: #999999;
}
@media (max-width: 576px) {
  .main1__label__input {
    max-width: 33.75rem;
  }
}

.main1__label {
  position: relative;
}

.main1__button {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 139px;
  height: 52px;
  background: #5373FD;
}

.main1__scroll {
  display: block;
  position: relative;
  z-index: 2;
  padding-bottom: 140px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 142.85%;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}
.main1__scroll::after {
  content: url(./img/chevron-down.svg);
  position: absolute;
  top: 20px;
  left: 46px;
}

.main1-photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.main2 {
  background: #5373FD;
}

.main2__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem 1.5rem;
}
@media (max-width: 768px) {
  .main2__navbar {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .main2__navbar {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .main2__navbar__navlogo {
    margin-bottom: 32px;
  }
}
@media (max-width: 576px) {
  .main2__navbar__navlogo {
    margin-left: 65px;
    margin-top: 30px;
  }
}

.main2__hamburger {
  display: none;
  position: absolute;
  right: 10px;
}

.main2__hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.main2__navbar__navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navmenu__navItem:not(:first-child) {
  margin: 0rem 0rem 0rem 2.5rem;
}
@media only screen and (max-width: 576px) {
  .navmenu__navItem:not(:first-child) {
    margin: 0rem 0rem 3rem 0rem;
  }
}

.navmenu__navLink {
  display: block;
  width: 140px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media only screen and (max-width: 576px) {
  .main2__navbar__navmenu {
    position: absolute;
    z-index: 3;
    left: -100%;
    top: 980px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 15px;
    transition: 0.3s;
    background: #5373FD;
  }
  .main2__navbar__navmenu.active {
    left: 0;
  }
  .navmenu__navItem {
    margin: 2.5rem 0;
  }
  .main2__hamburger {
    display: block;
    cursor: pointer;
  }
}
.main2__hamburger.active .main2__hamburger__bar:nth-child(2) {
  opacity: 0;
}

.main2__hamburger.active .main2__hamburger__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.main2__hamburger.active .main2__hamburger__bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.main3 {
  position: relative;
  height: 704px;
  z-index: 2;
}

.main3__container {
  display: flex;
  margin: 0px 412px 0px 300px;
}
@media only screen and (max-width: 1024px) {
  .main3__container {
    margin: 0px 32px 0px 32px;
  }
}
@media only screen and (max-width: 768px) {
  .main3__container {
    flex-direction: column-reverse;
  }
}

.main3__about {
  flex: 1 1 49.1666666667%;
}
@media only screen and (max-width: 768px) {
  .main3__about {
    text-align: center;
  }
}

.main3__title {
  position: relative;
  z-index: 2;
  margin-top: 190px;
  margin-bottom: 24px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .main3__title {
    margin-top: 32px;
  }
}

.main3__text p {
  position: relative;
  z-index: 2;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.main3__text--p {
  margin-bottom: 52px;
}

.main3__button {
  position: relative;
  z-index: 2;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 213px;
  height: 60px;
  background: #5373FD;
}
.main3__button___a {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .main3__button {
    margin-top: 32px;
    display: inline-block;
  }
}

.main3-photo {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.main3__img {
  margin-top: 124px;
  margin-left: 136px;
  display: flex;
  flex-direction: column;
  flex: 0 0 26.5rem;
}
@media only screen and (max-width: 768px) {
  .main3__img {
    flex-direction: row;
    margin-left: 2px;
    margin-top: 60px;
    margin-right: 24px;
    flex: 1 1 auto;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .main3__img {
    flex-direction: row;
    height: 10.125rem;
    width: 21.75rem;
    margin-left: 5px;
    margin-top: 60px;
    margin-right: 5px;
    flex: 1 1 auto;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}

.main3__img-photo1, .main3__img-photo2 {
  position: relative;
  z-index: 2;
}

.main3__img-photo1 {
  align-self: flex-start;
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  .main3__img-photo1 {
    max-width: 50%;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 576px) {
  .main3__img-photo1 {
    max-width: 16.125rem;
  }
}

.main3__img-photo2 {
  align-self: flex-end;
}
@media only screen and (max-width: 768px) {
  .main3__img-photo2 {
    max-width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .main3__img-photo2 {
    max-width: 16.125rem;
  }
}

.main4 {
  background: #333333;
}

.main4__steps {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .main4__steps {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main4__icon {
  display: block;
  width: 364px;
  height: 40px;
  position: relative;
  margin-top: 207px;
  margin-bottom: 60px;
  margin-right: 70px;
  font-family: "Aleo";
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .main4__icon {
    width: 460px;
    margin-top: 80px;
    margin-right: 0px;
  }
}

.main4__icon--a::before {
  content: url(./img/IconCircle.svg);
  position: absolute;
  top: -90px;
  left: 155px;
}
@media only screen and (max-width: 768px) {
  .main4__icon--a::before {
    top: -90px;
    left: 175px;
  }
}

.main4__icon--a::after {
  content: url(./img/Line.svg);
  position: absolute;
  top: -185px;
  left: 205px;
}
@media only screen and (max-width: 1890px) {
  .main4__icon--a::after {
    content: "";
  }
}

.main4__icon--b::before {
  content: url(./img/IconCircle_2.svg);
  position: absolute;
  top: -90px;
  left: 155px;
}
@media only screen and (max-width: 768px) {
  .main4__icon--b::before {
    top: -90px;
    left: 175px;
  }
}

.main4__icon--c::before {
  content: url(./img/IconCircle_3.svg);
  position: absolute;
  top: -90px;
  left: 155px;
}
@media only screen and (max-width: 768px) {
  .main4__icon--c::before {
    top: -90px;
    left: 175px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

.wrapper {
  width: 93.75%;
  margin: 0 auto;
}

.wrapper6 {
  width: 93.75%;
  margin: 0 auto;
}

/*Mobile-576px*/
.main5 {
  background-image: url("img/bg-main5-576px.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 616px;
  padding: 120px 0;
}

.content {
  background: rgba(35, 35, 35, 0.9);
  z-index: 1;
  padding: 44px 32px;
  height: 100%;
  max-height: 376px;
}
.content__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: white;
}
.content__headline {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 16px;
  text-transform: uppercase;
}
.content__desc {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
  margin-top: 16px;
}
@keyframes example {
  0% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 40%, rgb(83, 115, 253) 40%);
  }
  10% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 46%, rgb(83, 115, 253) 40%);
  }
  20% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 52%, rgb(83, 115, 253) 40%);
  }
  30% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 58%, rgb(83, 115, 253) 40%);
  }
  40% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 64%, rgb(83, 115, 253) 40%);
  }
  50% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 70%, rgb(83, 115, 253) 40%);
  }
  60% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 76%, rgb(83, 115, 253) 40%);
  }
  70% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 82%, rgb(83, 115, 253) 40%);
  }
  80% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 88%, rgb(83, 115, 253) 40%);
  }
  90% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 94%, rgb(83, 115, 253) 40%);
  }
  100% {
    background: linear-gradient(45deg, rgb(72, 107, 254) 100%, rgb(83, 115, 253) 40%);
  }
}
.content__btn {
  font-family: Aleo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 213px;
  height: 60px;
  background: rgb(72, 107, 254);
  background: linear-gradient(45deg, rgb(72, 107, 254) 41%, rgb(83, 115, 253) 40%);
  border: none;
  margin-top: 28px;
}
.content__btn:hover {
  background: linear-gradient(45deg, rgb(72, 107, 254) 100%, rgb(83, 115, 253) 40%);
  animation-name: example;
  animation-timing-function: ease;
  animation-duration: 0.3s;
}
.content__btn:focus {
  transform: scale(1.1);
  border: 1px solid white;
}

.main6 {
  background-image: url("img/bg-main6-576px.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.main7 {
  background-image: url("img/bg-main7-576px.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  height: 980px;
}
.main7__headline {
  font-family: Aleo, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.container1 {
  margin-top: 60px;
  background-color: #333333;
}

.cont-text {
  padding: 48px 60px;
}
.cont-text__headline {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: white;
  text-transform: uppercase;
}
.cont-text__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
  margin-top: 16px;
}
.cont-text__text:before {
  content: url("img/quote.svg");
  display: inline-block;
  position: relative;
  width: 25px;
  top: -1px;
  left: -1px;
}

.footer {
  background-color: black;
  padding: 80px 150px;
}

.logo-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  display: block;
}

.text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-align: center;
  color: white;
  display: block;
  margin-top: 8px;
}

.socials {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.socials-icon {
  cursor: pointer;
}

.socials-icon:hover path {
  fill: #5373FD;
}

/**/
/*Tablet 768px*/
@media screen and (min-width: 768px) {
  .main5 {
    background-image: url("img/bg-main5-768px.jpg");
  }
  .main6 {
    background-image: url("img/bg-main6-768px.jpg");
  }
  .main7 {
    background-image: url("img/bg-main7-768px.jpg");
  }
}
/**/
/*Desktop 1024px*/
@media screen and (min-width: 1024px) {
  .main5 {
    background-image: url("img/bg-main5-1024px.jpg");
    padding: 220px 0 120px 0;
    height: 712px;
  }
  .content {
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 372px;
  }
  .content__btn {
    margin-bottom: 11px;
  }
  .main6 {
    background-image: url("img/bg-main6-1024px.jpg");
    display: flex;
    justify-content: right;
    height: 712px;
    padding: 220px 0 120px 0;
  }
  .wrapper6 {
    display: flex;
    justify-content: right;
  }
  .main7 {
    background-image: url("img/bg-main7-1024px.jpg");
    height: 736px;
    padding: 120px 0 180px 0;
  }
  .container {
    display: flex;
  }
}
/**/
/*Desktop 1360px*/
@media screen and (min-width: 1360px) {
  .wrapper {
    width: 83.8235294118%;
  }
  .wrapper6 {
    width: 83.8235294118%;
  }
  .main5 {
    background-image: url("img/bg-main5-1360px.jpg");
  }
  .content {
    width: 100%;
    max-width: 558px;
    height: 100%;
    max-height: 372px;
  }
  .main6 {
    background-image: url("img/bg-main6-1360px.jpg");
  }
  .main7 {
    background-image: url("img/bg-main7-1360px.jpg");
  }
}
/**/
/*Desktop 1500px*/
@media screen and (min-width: 1500px) {
  .content {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 372px;
  }
  .content__btn {
    margin-bottom: 0;
  }
  .wrapper6 {
    height: 100%;
    max-height: 332px;
  }
}
/**/
@media screen and (max-width: 1023px) {
  .man-img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */